alias git="hub"
alias g="git"
alias p="git push"
alias pull="git pull-request"
alias nb="git checkout -b"
alias c="git ci-status -v"
alias master="git checkout master && git pull"
alias b="git browse"
alias s="git status"
m() {
  git commit -m "$@"
  git push &>/dev/null &
}
setupstream() {
  git branch -u "origin/$(git branch --show-current)"
}
trigger() {
  git commit --amend --no-edit && git push -f
}
pr() {
  branch=$(git branch --show-current)
  echo $branch
  if [[ "$branch" == "master" ]]; then
    echo "You are on master!"
  else
    git commit -m "$@"
    hub pull-request -m "$@" --browse --copy --push
  fi
}
gremovebranch() {
  git branch --merged | grep -v "\*" | grep -v master | grep -v dev | xargs -n 1 git branch -d
}

alias st="sourcetree"
sourcetree() {
  open $(git rev-parse --show-toplevel) -a 'SourceTree'
}
