alias g="git"
alias p="git push"
alias pull="gh pr create"
alias nb="git checkout -b"
alias master="git checkout master && git pull"
alias b="gh browse"
alias s="git status"
m() {
  git commit -m "$@"
  git push --set-upstream origin $(git branch --show-current) &>/dev/null &
}
setupstream() {
  git push --set-upstream origin $(git branch --show-current)
}
trigger() {
  git commit --amend --no-edit && git push -f
}
pr() {
  branch=$(git branch --show-current)
  echo $branch
  if [[ "$branch" == "master" ]]; then
    echo "You are on master!"
  else
    git commit -m "$@"
    git push --set-upstream origin $branch
    gh pr create --title "$@"
  fi
}
gremovebranch() {
  git branch --merged | grep -v "\*" | grep -v master | grep -v dev | xargs -n 1 git branch -d
}

alias st="sourcetree"
sourcetree() {
  open $(git rev-parse --show-toplevel) -a 'SourceTree'
}
